@import url('https://fonts.googleapis.com/css?family=Simonetta&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body
{
margin: 0;
font-family: 'Simonetta', cursive, sans-serif;
}
*
{
box-sizing: border-box;
margin: 0;
}
header
{
    position: absolute;
    left: 0px;
    right: 0px;
    border-bottom: 1px solid slategray;
    padding: 0px 15px;
    z-index: 10;
}
.container
{
    max-width: 1140px;
    margin: auto;
}
.row
{
    display: flex;
    flex-wrap: wrap;
}
.section-title
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}
.section-title h1
{
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0  0 10px;
    color: black;
    position: relative;
}
.section-title h1:before
{
    content: '';
    left: 0;
    height: 2px;
    right: 30%;
    background-color: slategray;
    bottom: 0px;
    position: absolute;
}
.text-center
{
    text-align: center!important;
}
.text-left
{
    text-align: left!important;
}
.text-right
{
    text-align: right!important;
}
header .row
{
    justify-content: space-between;
    align-items: center;
}
header .brand-name a
{
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    color: whitesmoke;
    text-transform: uppercase;
    position: relative;
}
header .navbar ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}
header .navbar ul li
{
    display: inline-block;
    margin-left: 35px;
}
header .navbar ul li a
{
    font-size: 25px;
    text-decoration: none;
    line-height: 72px;
    color: whitesmoke;
    display: block;
    font-weight: 600;
    position: relative;
}
header .navbar ul li a::before
{
    content: '';
    height: 3px;
    background-color: whitesmoke;
    width: 0%;
    position: absolute;
    right: 0px;
    bottom: -1px;
    transition: all .5s ease;
}
header .navbar ul li a:hover::before
{
    width: 100%;
    left: 0;
}
header .navbar ul li a.active::before
{
    width: 100%;
    left: 0;
}
.home
{
    min-height: 100vh;
    background: url("img/985.jpeg");
    background-size: cover;
    background-position: center;
    padding: 15px;
}
.home .full-screen
{
    min-height: 100vh;
}
.home .home-content
{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.home .home-content .block
{
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 35px;
    border-left: 5px solid whitesmoke;
    margin-top: 50px;
}
.home .home-content .block h6
{
    color: whitesmoke;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}
.home .home-content .block h1
{
    color: whitesmoke;
    font-size: 70px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.home .home-content .block h3
{
    color: whitesmoke;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.home .home-content .block .cv-btn
{
    padding-top: 20px;
}
.home .home-content .block .cv-btn a
{
    border-radius: 4px;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background-color: transparent;
}
.home .home-content .block .cv-btn a:hover
{
    background-color: #f5f5f5c5;
    color: black;
}

.about-me
{
    padding: 100px 15px;
    background-color: whitesmoke;
}
.about-me .section-title p.small
{
    display: block;
    font-size: 14px;
    color: #838383;
    font-weight: 400;
    letter-spacing: 2px;
}
.text-uppercase
{
    text-transform: uppercase!important;
}
.about-me .about-content .img
{
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.about-me .about-content .img img
{
    width: 100%;
    display: block;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}
.about-me .about-content .text
{
    flex: 0 0 66.66%;
    max-width: 66.66%;
    padding-left: 30px;
}
.about-me .about-content .text h4
{
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 5px;
    color: black;
}
.about-me .about-content .text h6
{
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 15px;
    color: black;
}
.about-me .about-content .text h6 span
{
    color: slategray;
}
.about-me .about-content .text p
{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: grey;
    margin: 0 0 20px;
}
.about-me .about-content .text .info
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about-me .about-content .text .info .list
{
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid slategray;
    padding-bottom: 10px;
}
.about-me .about-content .text .info .list label
{
    padding-right: 10px;
    color: black;
    font-weight: 600;
    font-size: 15px;
}
.about-me .about-content .text .info .list p
{
    margin: 0;
}
.about-me .about-content .text .social-links
{
    padding-top: 30px;
}
.about-me .about-content .text .social-links a
{
    height: 30px;
    width: 30px;
    background-color: slategrey;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid black;
    line-height: 28px;
    text-align: center;
    margin: 0 1px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}
.about-me .about-content .text .social-links a:hover
{
    background-color: transparent;
}
.about-me .about-content .text .social-links a .fa
{
    color: pink;
    font-size: 12px;
    margin: 0 1px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}
.about-me .about-content .text .social-links a:hover .fa
{
    color: black;
}
.services
{
    background: #d8ad76;
    padding: 100px 0px 70px;
}
.services .section-title h1:before
{
    left: 30%;
}
.services .service-content
{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.services .service-content .box
{
    background-color: whitesmoke;
    padding: 30px;
    flex: 0 0 calc(33.33% - 15px);
    min-width: calc(33.33% - 15px);;
    margin-bottom: 30px;
    border: 1px solid whitesmoke;
    text-align: center;
    position: relative;
    border-radius: 5px;
}
.services .service-content .box::before
{
    content: '';
    height: 2px;
    background-color: slategray;
    position: absolute;
    bottom: 0px;
    width: 50px;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .5s ease;
}
.services .service-content .box:hover::before
{
    width: 100%;
}
.services .service-content .box .icon
{
    height: 60px;
    width: 60px;
    background-color: #d8ad76;
    margin: 15px auto 20px;
    border-radius: 50%;
    text-align: center;
}
.services .service-content .box .icon .fa
{
    font-size: 25px;
    color: whitesmoke;
    line-height: 60px;
}
.services .service-content .box h5
{
    font-size: 16px;
    font-weight: 600;
    color: black;
    margin: 0;
}
.services .service-content .box p
{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: black;
    margin: 10px 0 10px;
}
.skills
{
    padding: 100px 15px;
    background-color: whitesmoke;
}
.skills .skills-content
{
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 40px;
}
.skills .img
{
    flex: 0 0 50%;
    max-width: 50%;
}
.skills .img img
{
    width: 100%;
    display: block;
}
.align-items-center
{
    align-items: center;
}
.skills .skills-content .section-title p
{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: black;
    margin: 15px 0 0;
}
.skills .skills-content .skill-box
{
    flex: 0 0 100%; 
    max-width: 100%;
    margin-bottom: 15px;
}
.skills .skills-content .skill-box h6
{
    font-size: 16px;
    font-weight: 500;
    color: black;
    margin: 0;
}
.skills .skills-content .skill-box .skill-bar
{
    height:5px;
    position: relative;
    background-color: whitesmoke;
}
.skills .skills-content .skill-box .skill-bar .skill-bar-in
{
    background-color: slategray;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.skills .skills-content .skill-box .skill-bar .skill-bar-in span
{
    color: slategrey;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    right: 0;
    top: -25px;
}


